/*============== mainVariables ==============*/
* {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  list-style: none;
}

/*(185, 255, 152)*/
:root {
  --smallFontSize: 16px;
  --mediumFontSize: 20px;
  --bigFontSize: 32px;
  --biggerFontSize: 48px;
  --biggestFontSize: 64px;
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
  height: 100%;
}

body {
  background-color: #e6ddd7;
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
}

.button {
  font-size: var(--mediumFontSize);
  font-weight: 400;
  position: relative;
  top: 20px;
  padding: 20px;
  border: 3px solid #fff;
  background-color: transparent;
  background-position: 100% 0;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
  -webkit-transition: padding 300ms;
  transition: padding 300ms;
  border-radius: 15px;
}

.button a {
  color: #fff;
  text-shadow: 0px 3px 6px rgba(136, 136, 136, 0.87);
  -webkit-transition: color 300ms;
  transition: color 300ms;
  -webkit-transition: text-shadow 300ms;
  transition: text-shadow 300ms;
}

.button:hover {
  background-color: #fff;
  padding-right: 30px;
  padding-left: 10px;
}

.button:hover i {
  opacity: 1;
}

.button:hover a {
  color: #000;
  text-shadow: none;
}

.bxs-chevron-right {
  color: #000;
  font-size: var(--bigFontSize);
  position: absolute;
  top: 15px;
  opacity: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

/*============== nav ==============*/
.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  z-index: 100;
  width: 100vw;
  top: 20px;
  padding: 0 10vw 0 15vw;
}

.navBar a {
  font-weight: 600;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.navBar a:hover {
  color: #ff6e6e;
}

.gradientNav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100vw;
  z-index: 15;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(21, 21, 21, 0.5)), color-stop(90%, rgba(21, 21, 21, 0)));
  background: linear-gradient(180deg, rgba(21, 21, 21, 0.5) 0%, rgba(21, 21, 21, 0) 90%);
  -webkit-transition: height 200ms;
  transition: height 200ms;
}

.navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 40%;
}

.navMenu a {
  color: #ececec;
  font-size: var(--mediumFontSize);
}

.navMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.navToggle i {
  color: #ff6e6e;
  cursor: pointer;
  font-size: var(--bigFontSize);
  visibility: hidden;
  z-index: 20;
}

.navGoUp i {
  color: #ff6e6e;
  text-shadow: 0px 3px 6px rgba(53, 53, 53, 0.705);
  cursor: pointer;
  font-size: var(--biggerFontSize);
  position: absolute;
  top: 110vh;
  right: 5vw;
  opacity: 0;
  -webkit-transition: opacity 300ms, top 200ms;
  transition: opacity 300ms, top 200ms;
  -webkit-animation-name: efectoFlecha;
          animation-name: efectoFlecha;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.goUpShow i {
  opacity: 1;
  top: 90vh;
}

.logo {
  color: #ff6e6e;
  font-size: var(--bigFontSize);
  z-index: 20;
}

.subMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subMenu1 {
  padding: 30px 0 15px 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  position: absolute;
}

.subMenu2 {
  padding: 15px 0 15px 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  position: absolute;
}

.subMenu3 {
  padding: 15px 0 15px 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 800ms;
  transition: opacity 800ms;
  position: absolute;
}

.hideMenu:hover + ul a li {
  opacity: 1;
  visibility: visible;
  position: relative;
}

.subMenu:hover > a li {
  opacity: 1;
  visibility: visible;
  position: relative;
}

/*============== footer ==============*/
.foot {
  position: relative;
  top: 0;
  height: 40%;
  width: 100%;
  opacity: 1;
  background-color: #000;
}

.footNav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20% 0 20%;
  padding: 5vh 0 5vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.travelnowFooter {
  color: #ff6e6e;
  font-style: normal;
  font-weight: 600;
  font-size: var(--bigFontSize);
}

.infoFooter {
  color: #fff;
  line-height: 35px;
}

.addressFooter {
  margin-bottom: 40px;
  color: #e6ddd7;
}

.foot .footUrls li {
  padding-bottom: 40px;
}

.foot ul li {
  padding-bottom: 30px;
}

.foot a {
  font-size: var(--mediumFontSize);
  font-weight: 400;
  color: #fff;
}

.foot a:hover {
  color: #ff6e6e;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.socialMedias li a {
  font-size: var(--bigFontSize);
}

.footerRule {
  width: 65%;
  height: 1px;
  background-color: #ff6e6e;
  position: absolute;
  bottom: 15%;
  right: 0;
}

/*============== intro ==============*/
.intro {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 200;
}

.introSlider {
  background: #e6ddd7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  z-index: 200;
}

.introElements {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: var(--biggerFontSize);
  margin: 0 5vw;
}

.introHide {
  background: #000;
  overflow: hidden;
}

.introText {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
  line-height: 80px;
}

.outro {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 200;
}

/*============== index ==============*/
/*============== mainSecction ==============*/
.mainPage {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.bgindex {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.bgindex img {
  overflow: hidden;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gradientMain {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(130deg, rgba(66, 65, 65, 0.2), rgba(87, 87, 87, 0.1));
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.firstSection {
  text-align: left;
  position: absolute;
  top: 5%;
  width: 100%;
  padding: 30vh 15vw 0 15vw;
}

.headerOne {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: var(--biggestFontSize);
  font-weight: 400;
  color: #fff;
  text-shadow: 0px 3px 6px rgba(53, 53, 53, 0.705);
}

.textOne {
  top: -25px;
  position: relative;
  font-size: var(--mediumFontSize);
  font-weight: 400;
  color: #ff6e6e;
  text-shadow: 0px 3px 6px rgba(53, 53, 53, 0.705);
}

.mainButton {
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  top: 90%;
  right: 5%;
  height: var(--biggestFontSize);
  width: var(--biggestFontSize);
  -webkit-animation-name: efectoFlecha;
          animation-name: efectoFlecha;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.bx-chevron-down-circle {
  color: #ff6e6e;
  font-size: var(--biggestFontSize);
  position: relative;
  -webkit-animation-name: efectoFlecha;
          animation-name: efectoFlecha;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes efectoFlecha {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-2vh);
            transform: translateY(-2vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes efectoFlecha {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-2vh);
            transform: translateY(-2vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*============== sectionTwo ==============*/
.sectionTwo {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.rightFloat {
  position: absolute;
  left: 40%;
  top: 0;
  height: 100%;
  width: 70%;
  background-color: #e6ddd7;
}

.sectionTwoRule {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 1px;
  background-color: #ff6e6e;
}

.leftFloat {
  position: relative;
  width: 55%;
  height: 100%;
  overflow: hidden;
}

.leftFloat img {
  overflow: hidden;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.textSectionTwo {
  position: relative;
  bottom: 70%;
  right: -45%;
  margin-right: 5%;
  max-width: 45%;
}

.textSectionTwo p {
  font-size: var(--biggestFontSize);
  font-weight: 300;
  line-height: 80px;
}

.travelnowWord {
  color: #ff6e6e;
  font-style: normal;
  font-weight: 400;
}

/*=========== destinos ===========*/
.subDestinos {
  overflow: hidden;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e6ddd7;
}

.subDestinos__seccion {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  background-color: #e6ddd7;
}

.subDestinos__seccion__capsula {
  margin: 5vh;
  width: 100%;
  max-width: 1200px;
  height: 40vh;
  min-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subDestinos__seccion__capsula__data {
  width: 45%;
  max-width: 35vw;
}

.subDestinos__seccion__capsula__data p {
  font-family: 'Poppins', sans-serif;
  font-size: var(--mediumFontSize);
  line-height: 30px;
}

.letterSpacing {
  letter-spacing: 5px;
  font-weight: 300;
}

.subDestinos__seccion__capsula__data p em {
  font-style: normal;
  font-weight: 800;
  color: #ff6e6e;
}

.subDestinos__seccion__capsula__data h3 {
  margin: 10% 0;
  font-size: var(--bigFontSize);
  font-weight: 600;
}

.subDestinos__seccion__capsula__imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
  max-width: 50%;
  overflow: hidden;
}

.subDestinos__seccion__capsula__imgContainer img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-filter 500ms, -webkit-transform 500ms ease-in-out;
  transition: -webkit-filter 500ms, -webkit-transform 500ms ease-in-out;
  transition: filter 500ms, transform 500ms ease-in-out;
  transition: filter 500ms, transform 500ms ease-in-out, -webkit-filter 500ms, -webkit-transform 500ms ease-in-out;
  -webkit-filter: grayscale(0) hue-rotate(0deg) saturate(1) blur(0px) brightness(1);
          filter: grayscale(0) hue-rotate(0deg) saturate(1) blur(0px) brightness(1);
}

.subDestinos__seccion__capsula__imgContainer:hover img {
  -webkit-filter: grayscale(0.6) hue-rotate(10deg) saturate(1.5) blur(2px) brightness(0.6);
          filter: grayscale(0.6) hue-rotate(10deg) saturate(1.5) blur(2px) brightness(0.6);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.subDestinos__seccion__capsula__imgContainer::before {
  content: "Descubrir";
  z-index: 30;
  position: absolute;
  opacity: 0;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: opacity 500ms, -webkit-transform 500ms;
  transition: opacity 500ms, -webkit-transform 500ms;
  transition: opacity 500ms, transform 500ms;
  transition: opacity 500ms, transform 500ms, -webkit-transform 500ms;
  font-size: var(--bigFontSize);
  font-weight: 400;
  color: #fff;
  text-shadow: 3px 3px 4px #646464;
}

.subDestinos__seccion__capsula__imgContainer:hover::before {
  content: "Descubrir";
  z-index: 30;
  position: absolute;
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.popupSubDestinos {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  z-index: 50;
  top: 100%;
  opacity: 0;
  left: 0;
  -webkit-transition: top 0.5s, opacity 0.6s;
  transition: top 0.5s, opacity 0.6s;
}

.popupReveal {
  top: 0;
  opacity: 1;
}

.popupClose {
  position: absolute;
  top: 15%;
  right: 2%;
  z-index: 50;
  cursor: pointer;
}

.popupClose i {
  font-size: var(--biggerFontSize);
  color: #fff;
  text-shadow: 3px 3px 5px black;
}

.popupBackground {
  height: 100%;
  width: 100%;
  background: linear-gradient(130deg, rgba(48, 48, 48, 0.6), rgba(29, 29, 29, 0.4));
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.swiperPopUp {
  width: 90vw;
  height: 60vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.swiperPopUp .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiperPopUp .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.subDestinos__img {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.subDestinos__img img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.destinosDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  width: 100%;
  z-index: 10;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(130deg, rgba(71, 71, 71, 0.4), rgba(10, 10, 10, 0.2));
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.destinosDiv p {
  background-color: transparent;
  font-size: var(--biggerFontSize);
  font-weight: 300;
  color: #fff;
  text-shadow: 2px 2px 10px #272727;
  letter-spacing: 5px;
  text-align: center;
}

.destinos {
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.destinosBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.destinosContainer {
  position: relative;
  min-height: 100%;
  margin: 0 10vw 10vh 10vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-flex-line-pack: center;
      align-content: center;
}

.destinosData {
  background: linear-gradient(130deg, rgba(161, 161, 161, 0.6), rgba(184, 184, 184, 0.4));
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 60px;
  border-radius: 15px;
  max-width: 25vw;
  min-width: 500px;
}

.destinosSubtitle, .destinosTitle, .destinosDescription {
  color: #fff;
}

.destinosSubtitle {
  font-size: var(--bigFontSize);
  font-weight: 600;
}

.destinosTitle {
  font-family: 'Poppins', sans-serif;
  font-size: var(--biggestFontSize);
  font-weight: 400;
  line-height: 2.5;
}

.destinosDescription {
  font-size: var(--mediumFontSize);
  margin-bottom: 2vh;
  font-weight: 400;
  color: #ff6e6e;
}

/*=========== galleryControls ===========*/
.controlsImg {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;
  margin: 4px;
}

.controls {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 12px;
  padding: 4px;
  background-color: #e6ddd7;
  z-index: 50;
}

.controlsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

/*=========== activeControls ===========*/
.swiper-slide-thumb-active {
  width: 60px;
  height: 60px;
}

/*=========== ofertas ===========*/
.ofertas {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 10;
}

.ofertasBg {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.ofertasBlur {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(130deg, rgba(66, 65, 65, 0.4), rgba(87, 87, 87, 0.2));
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.cardContainer {
  padding-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  height: 40vw;
  width: 30vw;
  overflow: hidden;
  border-radius: 32px;
  margin: 1vw;
}

.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.cardOverlay {
  position: relative;
  top: -10%;
  height: 10%;
  width: 100%;
  background: linear-gradient(130deg, rgba(54, 54, 54, 0.4), rgba(26, 26, 26, 0.2));
  opacity: 0.9;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.cardData {
  padding: 2% 0 0 50%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.cardTitle {
  display: inline-block;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: var(--bigFontSize);
  font-family: 'Poppins', sans-serif;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.cardTitle a {
  color: #fff;
}

.cardDescription {
  opacity: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
  color: #fff;
  font-size: var(--mediumFontSize);
  font-weight: 400;
  line-height: 45px;
  z-index: 10;
}

.cardPrice {
  opacity: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.card:hover > .cardOverlay {
  height: 101%;
  top: -101%;
  opacity: 1;
}

.card:hover > div > div {
  padding: 10% 5% 0 5%;
}

.card:hover > div > div > .cardTitle {
  font-size: var(--biggerFontSize);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  padding-bottom: 5%;
}

.card:hover > div > div > .cardDescription {
  opacity: 1;
}

.card:hover > div > div > .cardPrice {
  opacity: 1;
}

/*=========== contacto ===========*/
.contacto {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  position: relative;
}

.contactoBlur {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(130deg, rgba(66, 65, 65, 0.4), rgba(87, 87, 87, 0.2));
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.contactoTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20%;
  width: 100%;
  color: #fff;
  position: relative;
  top: 15vh;
}

.topTitle {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  font-family: 'Poppins', sans-serif;
  font-size: var(--biggerFontSize);
  margin-bottom: 1vw;
  color: #ff6e6e;
}

.topDescription {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  padding-bottom: 5%;
  line-height: 32px;
  font-size: var(--smallFontSize);
}

.contactoBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}

.contactoLeft {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  top: 12vh;
  padding-left: 15vw;
  line-height: 30px;
}

.contactoLeft div i {
  font-size: var(--bigFontSize);
  -webkit-transform: translate(-150%, 110%);
          transform: translate(-150%, 110%);
  padding: 2%;
  background: linear-gradient(130deg, rgba(209, 209, 209, 0.3), rgba(167, 167, 167, 0.2));
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 50%;
}

.address {
  height: 15vh;
  margin-bottom: 5vh;
  color: #ff6e6e;
}

.address p {
  color: #fff;
}

.phone {
  height: 15vh;
  color: #ff6e6e;
}

.phone p {
  color: #fff;
}

.email {
  height: 15vh;
  color: #ff6e6e;
}

.email p {
  color: #fff;
}

.contactoRight {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 35vw;
  max-width: 650px;
  min-width: 300px;
  background: linear-gradient(130deg, rgba(251, 251, 254, 0.5), rgba(251, 251, 254, 0.3));
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 16px;
  padding-bottom: 5vw;
  margin: 15vh 5vw 10vh 5vw;
}

.rightTitle {
  color: #ff6e6e;
  margin-top: 5%;
  text-align: center;
  width: 100%;
}

.rightData {
  width: 80%;
  margin: auto;
}

.inputBox > input, textarea {
  width: 100%;
  padding: 5px 0;
  font-size: var(--mediumFontSize);
  margin: 20px 0;
  resize: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
}

.inputBox > span {
  position: absolute;
  left: 10%;
  padding: 5px 0;
  margin: 20px 0;
  font-size: var(--mediumFontSize);
  pointer-events: none;
  -webkit-transition: 500ms;
  transition: 500ms;
  color: #444;
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span,
.inputBox textarea:focus ~ span,
.inputBox textarea:valid ~ span {
  color: #ff6e6e;
  font-size: var(--smallFontSize);
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.rightButton {
  margin: 5% 0 5% 0;
}

.enviar {
  width: 100px;
  background-color: transparent;
  border: none;
}

/*=========== about ===========*/
.about {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  position: relative;
}

.aboutBg {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.aboutBlur {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(130deg, rgba(66, 65, 65, 0.4), rgba(87, 87, 87, 0.2));
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.aboutContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.aboutSubtitle {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  max-width: 70vw;
  max-width: 900px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: var(--biggerFontSize);
  line-height: 70px;
  margin: 15vh 5% 10vh 5%;
}

.aboutDescription {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  margin-top: 10%;
  margin: 10vh 5% 5% 5%;
  font-size: medium;
  line-height: 35px;
}

.aboutSection {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 5% 5% 5%;
  padding: 2%;
  border-radius: 16px;
  background: linear-gradient(130deg, rgba(251, 251, 254, 0.5), rgba(251, 251, 254, 0.5));
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.aboutSection > h2 {
  font-size: var(--biggerFontSize);
  font-weight: 200;
  letter-spacing: 5px;
}

.aboutPeople {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10vh;
}

.people {
  height: 25vw;
  width: 25vw;
  margin: 80px;
  margin-top: 100px;
  position: relative;
}

.people > img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 30%;
     object-position: 50% 30%;
  top: 50px;
}

.people > p {
  font-size: var(--mediumFontSize);
  margin-top: 5%;
}

.people > p > em {
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-size: var(--bigFontSize);
  font-weight: 500;
  line-height: 45px;
}

@media (max-width: 1400px) {
  .navMenu {
    margin-left: 20%;
  }
  .cardContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    height: 80vw;
    width: 70vw;
    overflow: hidden;
    border-radius: 32px;
    margin: 2vw;
  }
}

@media (max-width: 1024px) {
  li > .subMenu {
    display: none;
  }
  .navMenu {
    position: fixed;
    margin-left: 0%;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100%;
    -webkit-transition: right .4s;
    transition: right .4s;
  }
  .navMenu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: linear-gradient(130deg, rgba(134, 134, 134, 0.5), rgba(56, 56, 56, 0.4));
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    margin: 0 0 0 30vw;
    padding: 15vh 0 15vh 0;
  }
  .navMenu ul li {
    padding: 15px;
  }
  .navMenu a {
    font-size: var(--bigFontSize);
  }
  .showMenu {
    right: 0;
  }
  .navBar {
    padding-left: 0vw;
  }
  .logo {
    font-size: var(--bigFontSize);
    padding-left: 5vw;
  }
  .navToggle i {
    visibility: visible;
    right: 5vw;
    position: absolute;
  }
  .footNav {
    margin: 0 10% 0 10%;
  }
  .subDestinos__seccion__capsula {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .subDestinos__seccion__capsula__data {
    width: 100%;
    margin-bottom: 10%;
    max-width: 70vw;
  }
  .subDestinos__seccion__capsula__imgContainer {
    width: 70vw;
    max-width: unset;
    margin-bottom: 10%;
  }
  .reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .aboutPeople {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .people {
    height: 40vw;
    width: 40vw;
    margin: 10vw;
  }
  .contactoBottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactoLeft {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 5%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 5vw;
    text-align: center;
  }
  .contactoRight {
    width: 80%;
  }
  .topDescription {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
  }
  .contactoLeft div i {
    font-size: var(--bigFontSize);
    -webkit-transform: translate(-250%, 130%);
            transform: translate(-250%, 130%);
    padding: 4%;
  }
  .contactoLeft .address i {
    -webkit-transform: translate(-250%, 200%);
            transform: translate(-250%, 200%);
  }
}

@media (max-width: 768px) {
  :root {
    --smallFontSize: 14px;
    --mediumFontSize: 18px;
    --bigFontSize: 30px;
    --biggerFontSize: 40px;
    --biggestFontSize: 50px;
  }
  .textSectionTwo p {
    line-height: 65px;
  }
  .footNav {
    margin: 0 5% 0 5%;
  }
}

@media (max-width: 600px) {
  .rightFloat {
    width: 100%;
    height: 50%;
    left: 0;
    position: relative;
  }
  .textSectionTwo {
    right: -5%;
    bottom: 40%;
    max-width: 100%;
  }
  .textSectionTwo p {
    font-size: var(--biggerFontSize);
  }
  .leftFloat {
    z-index: 20;
    height: 50%;
    width: 100%;
  }
  .leftFloat img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .footNav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 4fr 2fr;
        grid-template-rows: 1fr 4fr 2fr;
  }
  .travelnowFooter {
    -ms-grid-column: 0;
        grid-column-start: 0;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .infoFooter {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .footUrls {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .socialMedias {
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .footerRule {
    bottom: 5%;
  }
  .destinosData {
    min-width: 400px;
  }
  .subDestinos {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
  }
  .photos {
    grid-column-end: 1;
  }
  .columOne {
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  .columOne img {
    height: 60vw;
    width: 60vw;
  }
  .columTwo img {
    height: 60vw;
    width: 60vw;
  }
  .columTwo {
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
  .cardOverlay {
    top: -15%;
    height: 15%;
  }
  .cardDescription {
    line-height: 30px;
  }
  .cardPrice {
    margin-top: 5vw;
    font-size: var(--biggerFontSize);
  }
  .aboutDescription {
    margin: 0 5% 10vh 5%;
  }
  .destinosRule {
    grid-column-end: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
}

@media (max-width: 480px) {
  .textSectionTwo p {
    font-size: var(--bigFontSize);
  }
  .footNav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 4fr 5fr 1fr;
        grid-template-rows: 1fr 4fr 5fr 1fr;
  }
  .travelnowFooter {
    -ms-grid-column: 0;
        grid-column-start: 0;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .infoFooter {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .footUrls {
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  .socialMedias {
    -ms-grid-row: 4;
        grid-row-start: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .addressFooter {
    margin-bottom: 20px;
    text-align: center;
  }
  .contactFooter {
    text-align: center;
  }
  .destinosData {
    max-width: unset;
    min-width: unset;
    padding: 40px;
  }
  .cardPrice {
    display: none;
  }
  .card {
    height: 90vw;
  }
  .people {
    margin: 15vw;
  }
  .contactoLeft {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .phone {
    height: 15vh;
  }
  .address {
    height: 15vh;
  }
  .contactoRight {
    min-width: 80vw;
    padding-bottom: 10vw;
  }
  .contactoRight textarea {
    height: 20vh;
  }
}

@media (max-width: 370px) {
  .cardPrice {
    display: inline-block;
    font-size: var(--mediumFontSize);
    margin-top: 30%;
  }
  .cardDescription {
    display: none;
  }
}

@media (max-width: 320px) {
  :root {
    --smallFontSize: 14px;
    --mediumFontSize: 18px;
    --bigFontSize: 24px;
    --biggerFontSize: 30px;
    --biggestFontSize: 40px;
  }
  .textSectionTwo p {
    line-height: 50px;
  }
}
/*# sourceMappingURL=style.css.map */